.admin-presentation {
    background-color: #fce5e5;
    align-items: center;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: var(--medium);
}

.main-container {
    display: flex;
    gap: 40px;
}

.container-profil {
    width: 280px;
    background: linear-gradient(to top, var(--c-primary), var(--c-primary-light));
    flex-direction: column;
    align-items: center;
    border-radius: var(--small);
    display: flex;
    justify-content: center;
    padding: 32px var(--medium);
    gap: var(--medium);
    .profil {
        height: 150px;
        border-radius: 50%;
        width: 150px;
        overflow: hidden;
        border: 4px solid var(--c-dark-teal);
    }
    .profil img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .profil-text {
        text-align: center;
        color: var(--c-text-light);
    }
    .container-profil-button {
        align-items: center;
        display: flex;
        background-color: var(--c-primary);
        gap: var(--small);
        padding: 4px var(--small);
        border-radius: var(--small);
    }

    .container-profil-button img {
        width: 15px;
    }
    .container-profil-button h1 {
        color: var(--c-accent);
        font-size: 13px;
        margin: 0;
    }
}

.container-dashboard {
    background-color: #fff;
    border-radius: var(--small);
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 800px;
    border: 2px solid rgba(0, 0, 0, 0.18);
    gap: var(--medium);
}

.top-container-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--medium);
    h1 {
        font-size: 24px;
        margin: 0;
        white-space: nowrap;
    }
}

.duo-box-top {
    display: flex;
    gap: var(--small);
    flex-shrink: 0;
}

.mid-container-dashboard, .bottom-container-dashboard {
    background-color: var(--c-dark-teal);
    border-radius: var(--small);
    padding: var(--medium);
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}
.mid-container-dashboard h1 {
    color: var(--c-accent);
    font-size: 18px;
    margin: 0;
}

.container-button-nav, .top-button, .bottom-button {
    gap: var(--small);
    display: flex;
}

.container-button-nav button, .top-button button, .bottom-button button {
    border-radius: var(--small);
    flex: 1;
    background-color: var(--c-accent);
    padding: 14px var(--medium);
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.container-button-nav button a, .top-button button a, .bottom-button button a {
    font-weight: 700;
    color: var(--c-dark-teal);
    text-decoration: none;
}

.button-back {
    background-color: #e74c3c;
    border: none;
    border-radius: var(--small);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    a {
        text-decoration: none;
        color: var(--c-text-light);
        font-weight: 600;
    }
}

.button-settings {
    background-color: var(--c-primary-light);
    border: none;
    border-radius: var(--small);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    a {
        text-decoration: none;
        font-weight: 600;
        color: var(--c-text-light);
    }
}

.button-logout-dashboard {
    border: none;
    background-color: #e74c3c;

    a {
        color: var(--c-text-light);
    }
}

.container-button-nav button:hover,.top-button button:hover,.bottom-button button:hover,.button-back:hover,.button-settings:hover,.button-logout-dashboard:hover {
    opacity: 0.75;
}

.container-separation {
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
}

@media (max-width: 1100px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .container-profil {
        width: 100%;
    }

    .container-dashboard {
        width: 100%;
    }

    .top-container-dashboard {
        flex-direction: column;
        align-items: flex-start;
    }
}