main {
	position: relative;
	height: 100%;
	overflow: hidden;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
}

form > button {
	border: 2px solid var(--c-primary);
	width: 100%;
	border-radius: var(--small);
	background-color: var(--c-accent);
}

form > button:hover {
	border: 2px solid var(--c-accent);
	width: 100%;
	border-radius: var(--small);
	background-color: var(--c-primary);
	color: var(--c-text-light);
}

.tool-container {
	position: absolute;
	top: 0;
	height: 100%;
	padding: var(--small);

	overflow: hidden;
}

.toolbar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: fit-content;

	background-color: var(--c-bg);
	border-radius: var(--medium);
	padding: var(--medium);
	box-shadow: var(--shadow-soft);
}

.toolbar > button {
	border-radius: var(--medium);
	padding: var(--medium);
	background-color: var(--c-accent);
}

.infos-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding: var(--small);
}

#infos {
	display: flex;
	flex-direction: column;
	gap: var(--medium);
	padding: var(--medium);
	height: 100%;
	border-radius: var(--medium);
	background-color: var(--c-bg);
	box-shadow: var(--shadow-soft);
}

#participants-container {
	height: 100%;
	display: flex;
	padding: var(--small);
	gap: var(--small);
	flex-direction: column;
	overflow-y: scroll;
}

#infos p {
	user-select: none;
}

#participants-container > .participant.empty-user {
	visibility: hidden;
}

.editor {
	overflow: visible;
	position: relative;
	height: 100%;
	width: 100%;
}

.tournament-display {
	opacity: 1.0;
}


