.container{
	width: 100%;
	height: 100%;
}


.error {
	position: relative;
	height:100%;
}

.notfound{
	background-image: url("../assets/background.png");
	background-size: cover;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--large);
	font-weight: 600;
	color: var(--c-text-light);
	font-family: 'Poppins', sans-serif;

}
