.login-presentation {
    background-image: url("../assets/background.png");
    background-size: cover;
    min-height: 78vh;
    align-items: center;
	padding: 2rem;
}

.logs {
	border: 3px solid var(--c-accent);
	background-color: var(--c-dark-teal);
	color: var(--c-text-light);
	display: flex;
	flex-direction: column;
	border-radius: var(--medium);
	padding: var(--medium);
	opacity: 0.75;
}

.logs-head {
	padding-bottom: var(--medium);
}

.logs-head > * {
	padding-left: var(--medium);
	padding-right: var(--medium);
}

.logs-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.log {
	padding-bottom: 0;
	padding-top: 0;
}

.log > * {

	padding-top: var(--medium);
	padding-bottom: var(--medium);
	padding-left: 20px;
	width: 100%;
	border-top: 3px solid var(--c-accent);
}

h1 {
	color: #021407;
	font-weight: bold;
}

p {
	width: fit-content;
	margin: 0;
}

.logs-filtres {
	display: flex;
	flex-direction: row;
	gap: var(--small);
	padding-bottom: 44px;

	input {
    background-color: var(--c-dark-teal);
    color: var(--c-text-light);
    border-radius: 8px;
    padding: 6px 12px;
	}
	
	button {
    background-color: var(--c-accent);
    color: var(--c-dark-teal);
    border-radius: var(--medium);
    padding: 6px 16px;
    cursor: pointer;
    font-weight: bold;
	}

}