main {
	padding: 16px;
}

.logs {
	border: 2px solid var(--c-accent);
	background-color: var(--c-dark-teal);
	color: var(--c-text-light);
	display: flex;
	flex-direction: column;
	border-radius: var(--medium);
	padding: var(--medium);
}

.logs-head {
	padding-bottom: var(--medium);
}

.logs-head > * {
	padding-left: var(--medium);
	padding-right: var(--medium);
}

.logs-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logs-row > .timestamp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.log {
	padding-bottom: 0;
	padding-top: 0;
}

.log > * {
	padding: var(--medium);
	width: 100%;
	border-top: 2px solid var(--c-accent);
}

p {
	width: fit-content;
	margin: 0;
}
