.login-presentation {
    background-image: url("../assets/background.png");
    background-size: cover;
    min-height: 100%;
    align-items: center;
	padding: var(--medium);
}

h1 {
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.newsletter-all {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 16px;
}

.newsletter-form-section {
    flex: 2;
    background-color: var(--c-dark-teal);
    border: 3px solid var(--c-accent);
    border-radius: var(--medium);
    padding: var(--medium);
    color: var(--c-text-light);

    input, textarea {
    width: 100%;
    background-color: transparent;
    color: var(--c-text-light);
    border-radius: var(--medium);
    padding: 6px 12px;
    resize: vertical;
    }
}

.newsletter-destinataires {
    background-color: var(--c-dark-teal);
    border: 3px solid var(--c-accent);
    border-radius: var(--medium);
    padding: var(--medium);
    color: var(--c-text-light);
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    } li {
    border-top: 2px solid var(--c-accent);
    padding-top: 8px;
    font-size: 0.9em;
    }
}

.success p {
    color: #00b300;
    border-left: 3px solid #00b300;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 4px 0;
}

.btn-modifier {
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--c-dark-teal);
    color: #ffffff;
    border: 2px solid var(--c-accent);
}

.btn-modifier:hover {
    background-color: var(--c-accent);
    color: var(--c-text-dark);
}

.btn-envoyer {
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--c-accent);
    color: var(--c-text-dark);
}

.btn-envoyer:disabled {
    opacity: 0.4;
}

input:read-only, textarea:read-only {
    opacity: 0.5;
    cursor: not-allowed;
}

.newsletter-nav {
    display: flex;
    gap: 4px;
    margin-bottom: 1rem;
}

.newsletter-nav .nav-link {
    margin-left: var(--medium);
    padding: var(--small) var(--small);
    border-radius: 8px;
    color: rgb(123, 123, 123);
    font-weight: bold;
    background-color: rgba(11, 46, 13, 0.359)
}

.newsletter-nav .nav-link.active {
    background-color: var(--c-accent);
    color: var(--c-dark-teal);
}

@media screen and (max-width: 1024px ) {
    .newsletter-all {
        flex-direction: column;
    }
}