.presentation {
    background-image: url("../assets/background.png");
    background-size: cover;
    min-height: 100%;
    align-items: center;
    padding: var(--medium);
}

.newsletter-historique-container {
    border: 3px solid var(--c-accent);
    background-color: var(--c-dark-teal);
    color: var(--c-text-light);
    display: flex;
    flex-direction: column;
    border-radius: var(--medium);
    padding: var(--medium);
    opacity: 0.75;
}

.newsletter-historique-head {
    padding-bottom: var(--medium);
}

.newsletter-historique-head > * {
    padding-left: var(--medium);
    padding-right: var(--medium);
}

.newsletter-historique-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.newsletter-historique-item > * {
    padding-top: var(--medium);
    padding-bottom: var(--medium);
    padding-left: var(--large);
    width: 100%;
    border-top: 3px solid var(--c-accent);
}

h1 { 
    color: var(--c-text-light); 
    font-weight: bold; 
}

p { width: fit-content; 
    margin: 0; 
}

.newsletter-nav {
    display: flex;
    gap: var(--small);
    margin-bottom: var(--large);
}

.newsletter-nav .nav-link {
    margin-left: var(--medium);
    padding: var(--small) var(--small);
    border-radius: var(--small);
    color: var(--c-text-light);
    font-weight: bold;
    background-color: var(--c-dark-teal);
}

.newsletter-nav .nav-link.active {
    background-color: var(--c-accent);
    color: var(--c-dark-teal);
}

.export-btn {
    background-color: var(--c-primary);
    color: var(--c-text-light);
    border: none;
    border-radius: var(--small);
    padding: var(--small) var(--medium);
    cursor: pointer;
    font-weight: bold;
    margin: var(--medium);
	box-shadow: var(--shadow-soft);
}

.export-btn:hover {
    filter: brightness(0.85);
}