.signup-presentation {
    background-image: url("../assets/background.png");
    background-size: cover;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: var(--medium) 4%;
}

.signup-texte { 
    width: 70%;
    padding-left: 8%;
    text-align: center;
    h1 {
    font-size: 130%;
    font-weight: bold;
    color: var(--c-text-light);
    }
    p {
    font-size: 110%;
    opacity: 0.85;
    color: var(--c-text-light);
    }
}

.second-logo {
    max-width: 15%;
    opacity: 0.3;
}

.signup-carte {
    width: 46%;
    label {
    color: var(--c-text-light);
    }
}

.signup-carte-titre {
    background-color: #0c2415;
    border-radius: 8px;
    padding: var(--small) var(--medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small);
    margin: 0 auto var(--medium);
    width: 25%;
    
    h2 {
    color: var(--c-accent);
    font-size: var(--medium);
    margin: 0;
    }
}
.signup-form {
    h2 {
    display: none;
    }
    .mb-3 {
    display: inline-block;
    width: 48%;
    margin-right: 1%;
    vertical-align: top;
    }
    input {
    background: var(--c-bg);
    border: none;
    border-radius: var(--small);
    width: 100%;
    padding: var(--small) var(--medium);
    }
}

.signup-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--small);
    label {
    display: flex;
    align-items: center;
    gap: var(--small);
    white-space: nowrap;
    color: var(--c-text-light);
    }
}


.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--small);
    width: 70%;
    margin-left: 15%;
    padding: var(--small);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--c-accent);
    color: var(--c-text-dark);
    margin-top: var(--small);
}

.erreurs p {
    color: var(--c-red);
    background-color: rgba(255, 0, 0, 0.1);
    border-left: 3px solid var(--c-red);
    padding: var(--small) var(--medium);
    border-radius: var(--small);
    margin: var(--small) 0;
}

.success p {
    color: var(--c-green);
    border-left: 3px solid var(--c-green);
    padding: var(--small) var(--medium);
    border-radius: var(--tiny);
    margin: var(--small) 0;
}

.captcha-section {
    display: flex;
    flex-direction: row;
    margin-left : 15%;
    align-items: center;
    p {
        color: var(--c-text-light);
        margin-right: 20%;
        font-size:small;
        justify-content: row;
    }
}

.captcha {
    display :block;
    max-width: 29%;
    max-height: 29%;
}

@media screen and (max-width: 1000px ) {
    .signup-presentation {
        flex-direction: column;
    }

    .signup-carte {
        width: 100%;
    }

    .signup-texte {
        width: 100%;
        margin-top: 2rem;
    }

    .signup-form .mb-3 {
        width: 100%;
        display: block;
        margin-right: 0;
    }
}