.signup-presentation {
    background-image: url("../assets/background.png");
    background-size: cover;
    min-height: 74vh;
    display: flex;
    align-items: center;
    padding: 2rem 4%;
}

.signup-texte { 
    width: 70%;
    padding-left: 8%;
    text-align: center;
    h1 {
    font-size: 130%;
    font-weight: bold;
    color: white;
    }
    p {
    font-size: 110%;
    opacity: 0.85;
    color: white;
    }
}

.second-logo {
    max-width: 15%;
    opacity: 0.3;
}

.signup-carte {
    width: 46%;
    label {
    color: white;
    }
}

.signup-carte-titre {
    background-color: #0c2415;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0 auto 1.5rem;
    width: 25%;
    
    h2 {
    color: #D9FF22;
    font-size: 1rem;
    margin: 0;
    }
}
.signup-form {
    h2 {
    display: none;
    }
    .mb-3 {
    display: inline-block;
    width: 48%;
    margin-right: 1%;
    vertical-align: top;
    }
    input {
    background: white;
    border: none;
    border-radius: 9px;
    width: 100%;
    padding: 3%;
    }
}

.signup-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1rem;
    label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    color: white;
    }
}


.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 70%;
    margin-left: 15%;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    background-color: #D9FF22; 
    color: #04262A; 
    margin-top: 0.5rem; 
}

.erreurs p {
    color: #ff4d4d;
    background-color: rgba(255, 0, 0, 0.1);
    border-left: 3px solid #ff4d4d;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 4px 0;
}

.success p {
    color: #00b300;
    border-left: 3px solid #00b300;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 4px 0;
}

.captcha-section {
    display: flex;
    flex-direction: row;
    margin-left : 15%;
    align-items: center;
    p {
        color: white;
        margin-right: 20%;
        font-size:small;
        justify-content: row;
    }
}

.captcha {
    display :block;
    max-width: 29%;
    max-height: 29%;
}

@media screen and (max-width: 1024px ) {
    .signup-presentation {
        flex-direction: column;
    }

    .signup-carte {
        width: 100%;
    }

    .signup-texte {
        width: 100%;
        margin-top: 2rem;
    }

    .signup-form .mb-3 {
        width: 100%;
        display: block;
        margin-right: 0;
    }
}