
main > div {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.graph-section {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.graph-section h2 {
	height: fit-content;
	text-align: center;
	padding: var(--small);
}

p {
	margin: 0;
}

.graph-column p.value {
	width: fit-content;
	padding: var(--small);
	background-color: var(--c-accent);
	aspect-ratio: 1/1;
	text-align: center;
	border-radius: 50%;
	margin: var(--small);
}

.graph {
	height: 100%;
	padding: var(--medium);
	gap: var(--medium);
}

.graph > .graph-column {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	height: 100%;
	overflow: hidden;
	background-color: transparent;
}

.graph-column .fill {
	width: 100%;
	background-color: var(--c-primary);
	border-top-left-radius: var(--small);
	border-top-right-radius: var(--small);
}

.graph-column > p.label {
	text-align: center;
	color: var(--c-text-light);
	width: 100%;
	padding: var(--small);
	background-color: var(--c-primary);
}
