h1 {
	text-align: center;
	padding: var(--small);
}

main > div {
	height: 100%;
	display: flex;
	flex-direction: row;
}

main > div > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	height: 100%;
	width: 100%;
}

p {
	margin: 0;
}

.graph-column > p.value {
	padding: var(--small);
	background-color: var(--c-accent);
	aspect-ratio: 1/1;
	text-align: center;
	border-radius: 50%;
	margin: var(--small);
}

.graph {
	height: 100%;
	padding: var(--medium);
	gap: var(--medium);
}

.graph > .graph-column {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	height: 100%;
	overflow: hidden;
	background-color: transparent;
}

.graph-column > .fill {
	width: 100%;
	background-color: var(--c-primary);
	border-top-left-radius: var(--small);
	border-top-right-radius: var(--small);
}

.graph-column > p.label {
	text-align: center;
	color: var(--c-text-light);
	width: 100%;
	padding: var(--small);
	background-color: var(--c-primary);
}
